$white: #eaeaea;
$grey: #7c7c7c;
$body: #202124;
$blue: #005bfc;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: $body;
    color: $white;
}

input {
    padding: 0.5rem 0.75rem;
    background: none;
    border: 1px solid $grey;
    color: $white;
    border-radius: 0.25rem;
}

// Header

.header {
    padding: 0.75rem 0;
    border-bottom: 1px solid $grey;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $body;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            width: 40%;
            font-weight: 600;

            &::placeholder {
                font-weight: 600;
            }
        }
    }
}

// Note

.note {
    margin-top: 100px;

    &__container {
        h2 {
            margin-bottom: 1rem;
        }
    }

    &-list {
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    &-item {
        border: 1px solid $grey;
        border-radius: 0.5rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        &__body {
            padding: 1rem;
        }

        &__date {
            margin: 0.25rem 0;
            font-size: 12px;
            color: $grey;
        }

        &__content {
            font-size: 14px;
        }

        &__action {
            margin-top: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            > * {
                background: none;
                color: $white;
                outline: none;
                border: 1px solid $grey;
                padding: 0.5rem 0;
                cursor: pointer;
                font-weight: 600;
                transition: all 0.3s ease;

                &:nth-child(1) {
                    color: #cf3636;
                    border-radius: 0 0 0 5px;

                    &:hover {
                        background-color: #cf3636;
                        color: $white;
                    }
                }

                &:nth-child(2) {
                    color: #fde13f;
                    border-radius: 0 0 5px 0;

                    &:hover {
                        background-color: #fde13f;
                        color: $body;
                    }
                }
            }
        }
    }
}

.floating-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: $blue;
    border: none;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: darken($blue, 20%);
    }

    svg {
        width: 2rem;
        height: 2rem;
        color: white;
    }
}

@import './responsive';
